<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>


  <div class="example-table-container">
    <table mat-table matSort [dataSource]="dataSource" class="example-table"
            matSortActive="created" matSortDisableClear matSortDirection="desc">
      <!-- Number Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Full name </th>
        <td mat-cell *matCellDef="let element"> {{element.user_fullname}} </td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="Mobile">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  Mobile number </th>
        <td mat-cell *matCellDef="let element"> {{element.mobile_no}} </td>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.user_status}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Reg_Date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Reg_Date </th>
        <td mat-cell *matCellDef="let element"> {{element.user_reg_date}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Mode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mode </th>
        <td mat-cell *matCellDef="let element"> {{element.user_mode}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Public">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Public </th>
        <td mat-cell *matCellDef="let element"> {{element.are_drives_public}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
        <td mat-cell *matCellDef="let element"> {{element.user_reg_date}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
</div>

